.square{
    height: 600px;
    width: 900px;
    background-color:#FFFFFF;
    position: relative;
    margin: 80px;
    border: 1px solid black;
}
.circle{
    height: 300px;
    width: 300px;
    background-color:#BC002D ;
    border-radius: 50%;
    position: absolute;
    top: 150px;
    left:300px ;
}
